/***************VARIABLES**********************/
/***************COMMON**********************/
.btn-green {
  background: #1ABC9C;
  border: none;
  color: #fff;
}
.btn-green:hover {
  background: #6FD6C2;
}
.btn-blue {
  background: #0087cc;
  border: none;
  color: #fff;
}
.btn-blue:hover {
  background: #4EB4E8;
}
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.no-list-style {
  list-style: none;
}
/***************COMMON**********************/
.product-slider .oc-item,
.gold-product .oc-item {
  text-align: center;
}
.product-slider .oc-item.gold label,
.gold-product .oc-item.gold label {
  background: #fdcf0b;
}
.product-slider .oc-item.gold .price,
.gold-product .oc-item.gold .price {
  color: #d52e1c;
}
.product-slider .oc-item label,
.gold-product .oc-item label {
  background: #F5F5F5;
  width: 100%;
  padding: 7px;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product-slider .oc-item .img-thumbnail,
.gold-product .oc-item .img-thumbnail {
  max-height: 141px;
  width: auto;
  margin: 0 auto;
}
.product-slider .oc-item .name,
.gold-product .oc-item .name {
  font-size: 12px;
  margin: 0;
  margin-top: 7px;
}
.product-slider .oc-item .name:hover,
.gold-product .oc-item .name:hover {
  color: #0087cc;
}
.product-slider .oc-item .price,
.gold-product .oc-item .price {
  font-size: 16.8px;
  color: #000;
  margin-bottom: 7px;
}
.product-slider .oc-item button,
.gold-product .oc-item button {
  width: 100%;
  margin: 0.25em 0;
  padding: 7px;
}
.product-slider .oc-item .btn-blue,
.gold-product .oc-item .btn-blue {
  font-size: 11.5px;
}
.product-slider .oc-item .btn-green,
.gold-product .oc-item .btn-green {
  font-size: 14px;
}
/***************Index**********************/
.gold-product {
  width: 10%;
  float: left;
  margin-right: 1%;
}
.gold-product label {
  background: #fdcf0b;
}
.gold-product .price {
  color: #d52e1c;
}
.product-slider.home-slider {
  width: 89%;
  float: left;
}
.top-product {
  display: inline-block;
  margin-bottom: 15px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #ffffff;
  height: 324px;
  width: 100%;
}
#home-compare-chart {
  width: 100%;
  height: 400px;
}

.sticky-slider {
  position: fixed;
  top: 60px;
  height: 245px;
  left: 0;
  background: #F5F5F5;
  z-index: 99;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-bottom: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
}
.sticky-slider .top-product {

}

.sticky-slider .wrap-top {
  display: block;
  margin: 0px auto;
}

.sticky-slider .top-product-main-row {
  /*width: 80%;
  position: absolute;
  top: 0;
  left: 20%;*/
}

.sticky-slider .product-slider .oc-item .name, 
.sticky-slider .gold-product .oc-item .name,
.sticky-slider .product-slider .oc-item .price, 
.sticky-slider .gold-product .oc-item .price,
.sticky-slider .product-slider .oc-item .btn-blue,
.sticky-slider .gold-product .oc-item .btn-blue {
  display: none;
}


.sticky-slider .gold-product {
  width: 10%;
  margin-right: 0;
  padding: 5px;
}

.sticky-slider .product-slider.home-slider {
  width: 90%;
}

/***************Comparision chart**********************/
#comparition-table .name-info {
  width: 20%;
  float: left;
}
#comparition-table .name-info ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#comparition-table .name-info ul li {
  border-bottom: 1px solid #cecece;
  min-height: 57px;
}
#comparition-table .name-info ul li .name {
  min-width: 100px;
  text-align: left;
  padding: 0.5em 2em;
}
#comparition-table .table-info {
  width: 80%;
  float: left;
}
#comparition-table .table-info .anchor-compare-item {
  width: 10%;
  float: left;
}
#comparition-table .table-info .anchor-compare-item ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#comparition-table .table-info .anchor-compare-item ul li {
  border-bottom: 1px solid #cecece;
  min-height: 57px;
  background: #f3f3f3;
}
#comparition-table .table-info .anchor-compare-item ul li .info {
  text-align: center;
  font-size: 13px;
  line-height: 56px;
}
#comparition-table .table-info .table-comparision-slider {
  width: 90%;
  float: left;
}
#comparition-table .table-info .table-comparision-slider .oc-item ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#comparition-table .table-info .table-comparision-slider .oc-item ul li {
  border-bottom: 1px solid #cecece;
  min-height: 56px;
}
#comparition-table .table-info .table-comparision-slider .oc-item ul li .info {
  text-align: center;
  font-size: 13px;
  line-height: 56px;
}
#comparition-table .table-info .table-comparision-slider .owl-item:nth-child(2n) .oc-item ul li {
  background: #f3f3f3;
}


/* reivew */
/***************COMMON**********************/
.btn-default{background:#1ABC9C;border:none}

.wrap-thumb {
  border: 1px solid #EEE;
  margin-top: 5px;
}

.wrap-thumb a {
  width: 85px;
    display: inline-block;
    height: 44px;
    float: left;
    margin: 0;
    padding: 5px;
    background: none;
    overflow: hidden;
}

.wrap-thumb a:hover {
  opacity: 0.6;
}
.wrap-thumb a img {
  width: 100%;
  height: auto;
  max-width: inherit;
}

.left-content {
  padding: 0px;
}

.compare-content {
  border: 1px solid #EEE;
  background: #ffffff;
  margin: 50px 0px;
}

.wrap-des,
.value-rating,
.wrap-rating-item {
  display: table;
    border-collapse: separate;
    content: "";
    width: 100%;
    padding: 15px;
    border-spacing: 5px;
} 

.value-rating,
.wrap-des {
  background-color: #ffffff;
}

.value-rating {
  padding: 0px 15px;
  border-spacing: 0px;
}
.wrap-rating-item .rating-item:last-child {
  pointer-events: none;
}

.wrap-rating-item .rating-item:last-child:hover {
  background: none;
  
}

.rating-item {
  display: table-cell;
  color: #827F7F;
    background-color: #f5f5f5;
    border-color: #dddddd;
    padding: 10px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    margin-right: 10px;
    cursor: pointer;
    text-align: center;
}

.value-rating .label-rating {
  text-align: left;
  background: none;
  margin-bottom: 5px;
}

.value-rating .value-more {
  text-align: right;
}

.rating-bar {
  background: #eeeeee;
  width: 100%;
  height: 15px;
  position: relative;
}

.rating-bar span {
  position: absolute;
  top: 0;
  left: 0;
  background: #1ABC9C;
  height: 100%;
  transition: all 300ms linear;
}

#rating-bar1 span,
#rating-bar3 span {
  background: #1ABC9C;
}

#rating-bar2 span,
#rating-bar4 span {
  background: #5cb85c;
}

.detail-rating {
  background: none;
}

.wrap-des .des-item {
  display: table-cell;
}

.wrap-des .des-item:last-child  {
  text-align: right;
}


.last-col {
  background: none;
  width: 100px;
}
.wrap-rating-item div.active,
.rating-item:hover {
  color: #1ABC9C;
  background: #ffffff;
}


.over-rating {
  color: #1ABC9C;
  font-size: 36px;
  font-weight: 600;
  margin: 15px 0;
}

.over-rating span {
  font-size: 30px;
  font-weight: 300;
  color: #555;
}

.product-ranking p {
  font-size: 14px;
}

.product-ranking p strong {
  color: #1ABC9C;
  font-size: 16px;
}

.raking {
  color: #555;
  font-size: 18px;
}

.sidebar-widgets-wrap .widget:nth-child(2) {
  margin-top: 0;
}

.slider-product {
  margin-bottom: 15px;
}

.icon-angle-up,
.icon-angle-right,
.icon-angle-left {
  font: normal normal normal 14px/1 FontAwesome;
}
.icon-angle-left:before {
  content: "\f104" !important;
}
.icon-angle-right:before {
  content: "\f105" !important;
}

.icon-angle-up::before {
  content: "\f106" !important;
}
.btn-visit {
  min-width: 200px;
}

.main-button {
    padding: 6px 15px;
    background-color: #1ABC9C;
    color: #FFF;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    border-radius: 4px;
    z-index: 5;
    border: none;
    text-align: center;
    font-size: 24px;
}

.block-content {
  border-top: 1px solid #eee; 
  border-bottom: 1px solid #eee; 
  padding: 15px;
  display: inline-block;
  width: 100%;
  margin-top: 50px;
}

.no-border-bot {
  border-bottom:none; 
}