@import "variables.less";
/***************COMMON**********************/
.btn-green {
	background: @green;
	border: none;
	color: @white;
	&:hover {
		background: @hovergreen;
	}
}

.btn-blue {
	background: @blue;
	border: none;
	color: @white;
	&:hover {
		background: @hoverblue;
	}
}

.no-margin {
	margin: 0;
}
.no-padding {
	padding: 0;
}
.no-list-style {
	list-style: none;
}

/***************COMMON**********************/
.product-slider,.gold-product {
	.oc-item {
		text-align: center;
		&.gold {
			label {
				background: @gold;
			}
			.price {
				color: @red;
			}
		}

		label {
			background: @lightgray;
			width: 100%;
			padding: 7px;
			font-size: 12px;
			white-space: nowrap; 
		    overflow: hidden;
		    text-overflow: ellipsis; 
		}
		
		.img-thumbnail {
			max-height: 141px;
		    width: auto;
		    margin: 0 auto;
		}

		.name {
			font-size: 12px;
			margin: 0;
			margin-top: 7px;
			&:hover {
				color: @blue;
			}
		}

		.price {
			font-size: 16.8px;
			color: @black;
			margin-bottom: 7px;
		}

		button {
			width: 100%;
			margin: 0.25em 0;
			padding: 7px;
		}
		.btn-blue {
			font-size: 11.5px;
		}
		.btn-green {
			font-size: 14px;
		}
	}
}

/***************Index**********************/
.gold-product {
	width: 10%;
	float: left;
	margin-right: 1%;
	label {
		background: @gold;
	}
	.price {
		color: @red;
	}
 }

.product-slider.home-slider {
 	width: 89%;
 	float: left;
}

.top-product {
	display: inline-block;
	margin-bottom: 15px;
	width: 100%;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

#home-compare-chart {
	width: 100%;
	height: 400px;
}

.sticky-slider {
	position: fixed;
    top: 60px;
    left: 50%;
    background: #F5F5F5;
    transform: translateX(-50%);
    z-index: 99;
}

/***************Comparision chart**********************/

#comparition-table {
	.name-info {
		width: 20%;
		float: left;
		ul {
			.no-margin;
			.no-padding;
			.no-list-style;
			li {
				border-bottom: 1px solid #cecece;
				min-height: 57px;
				.name {
				    min-width: 100px;
				    text-align: left;
				    padding: 0.5em 2em;
				}
			}
		}
	}
	.table-info {
		width: 80%;
		float: left;
		.anchor-compare-item {
			width: 10%;
			float: left;
			ul {
				.no-margin;
				.no-padding;
				.no-list-style;
				li {
					border-bottom: 1px solid #cecece;
					min-height: 57px;
					background: #f3f3f3;
					.info {
					    text-align: center;
					    font-size: 13px;
					    line-height: 56px;
					}
				}
			}
		}

		.table-comparision-slider {
			width: 90%;
			float: left;
			.oc-item {
				ul {
					.no-margin;
					.no-padding;
					.no-list-style;
						li {
						border-bottom: 1px solid #cecece;
						min-height: 56px;
						.info {
						    text-align: center;
						    font-size: 13px;
						    line-height: 56px;
						}
					}
				}

			}
			.owl-item:nth-child(2n) {
				.oc-item {
					ul li {
						background: #f3f3f3;
					}
				}
			}
		}
	}
}