/*
    Created on : May 2, 2015,
    Author     : Tien Le
*/
@import "variables.less";

/* #Tablet (Landscape) 1024px
---------------------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 960px) and (max-width: 1240px) {
	.gold-product {
		width: 15%;
		label {
			font-size: 7px;
		}
	}

	 .product-slider.home-slider {
	 	width: 84%;
	}

	#comparition-table {
		.name-info {
			width: 30%;
			ul {
				li {
					.name {
						font-size: 10px;
					}
				}
			}
		}
		.table-info {
			width: 70%;
			.anchor-compare-item{
				width: 15%;
			}
			.table-comparision-slider{
				width: 85%;
			}
		}
	}



}
/* #Tablet (Portrait) 768px
---------------------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 959px) {
	.gold-product {
		width: 15%;
		label {
			font-size: 7px;
		}
	}

	.product-slider.home-slider {
	 	width: 84%;
	}

	#comparition-table {
		.name-info {
			width: 30%;
			ul {
				li {
					.name {
						font-size: 10px;
					}
				}
			}
		}
		.table-info {
			width: 70%;
			.anchor-compare-item{
				width: 15%;
			}
			.table-comparision-slider{
				width: 85%;
			}
		}
	}

}
/* #Mobile (Landscape) 480px
---------------------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.gold-product {
		width: 50%;
		label {
			font-size: 7px;
		}
	}

	 .product-slider.home-slider {
	 	width: 49%;
	}

	#comparition-table {
		.name-info {
			width: 40%;
			ul {
				li {
					.name {
						font-size: 10px;
					}
				}
			}
		}
		.table-info {
			width: 60%;
			.table-comparision-slider,
			.anchor-compare-item {
				width: 50%;
			}
		}
	}

}


/*  #Mobile (Portrait) 320px
---------------------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 100px) and (max-width: 479px) {
	.gold-product {
		width: 50%;
		label {
			font-size: 7px;
		}
	}

	 .product-slider.home-slider {
	 	width: 49%;
	}

	#comparition-table {
		.name-info {
			width: 40%;
			ul {
				li {
					.name {
						font-size: 10px;
					}
				}
			}
		}
		.table-info {
			width: 60%;
			.table-comparision-slider,
			.anchor-compare-item {
				width: 50%;
			}
		}
	}
}

