/***************VARIABLES**********************/
@green 		: #1ABC9C;
@hovergreen : #6FD6C2;
@blue  		: #0087cc;
@hoverblue	: #4EB4E8;
@white 		: #fff;
@lightgray	: #F5F5F5;
@gold		: #fdcf0b;
@red		: #d52e1c;
@black 		: #000;