/***************COMMON**********************/
.btn-default{background:#1ABC9C;border:none}

.wrap-thumb {
	border: 1px solid #EEE;
	margin-top: 5px;
}

.wrap-thumb a {
	width: 85px;
    display: inline-block;
    height: 44px;
    float: left;
    margin: 0;
    padding: 5px;
    background: none;
    overflow: hidden;
}

.wrap-thumb a:hover {
	opacity: 0.6;
}
.wrap-thumb a img {
	width: 100%;
	height: auto;
	max-width: inherit;
}

.product-slider {
	float: left;
	width: 50%;
	margin-right: 15px;
}


#oc-slider .masonry-thumbs a {
	width: 100%;
}

.left-content {
	padding: 0px;
}

.compare-content {
	border: 1px solid #EEE;
	background: #ffffff;
	margin: 50px 0px;
}

.wrap-des,
.value-rating,
.wrap-rating-item {
	display: table;
    border-collapse: separate;
    content: "";
    width: 100%;
    padding: 15px;
    border-spacing: 5px;
} 

.value-rating,
.wrap-des {
	background-color: #ffffff;
}

.value-rating {
	padding: 0px 15px;
	border-spacing: 0px;
}
.wrap-rating-item .rating-item:last-child {
	pointer-events: none;
}

.wrap-rating-item .rating-item:last-child:hover {
	background: none;
	
}

.rating-item {
	display: table-cell;
	color: #827F7F;
    background-color: #f5f5f5;
    border-color: #dddddd;
    padding: 10px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    margin-right: 10px;
    cursor: pointer;
    text-align: center;
}

.value-rating .label-rating {
	text-align: left;
	background: none;
	margin-bottom: 5px;
}

.value-rating .value-more {
	text-align: right;
}

.rating-bar {
	background: #eeeeee;
	width: 100%;
	height: 15px;
	position: relative;
}

.rating-bar span {
	position: absolute;
	top: 0;
	left: 0;
	background: #1ABC9C;
	height: 100%;
	transition: all 300ms linear;
}

#rating-bar1 span,
#rating-bar3 span {
	background: #1ABC9C;
}

#rating-bar2 span,
#rating-bar4 span {
	background: #5cb85c;
}

.detail-rating {
	background: none;
}

.wrap-des .des-item {
	display: table-cell;
}

.wrap-des .des-item:last-child  {
	text-align: right;
}


.last-col {
	background: none;
	width: 100px;
}
.wrap-rating-item div.active,
.rating-item:hover {
	color: #1ABC9C;
	background: #ffffff;
}


.over-rating {
	color: #1ABC9C;
	font-size: 36px;
	font-weight: 600;
	margin: 15px 0;
}

.over-rating span {
	font-size: 30px;
	font-weight: 300;
	color: #555;
}

.product-ranking p {
	font-size: 14px;
}

.product-ranking p strong {
	color: #1ABC9C;
	font-size: 16px;
}

.raking {
	color: #555;
	font-size: 18px;
}

.sidebar-widgets-wrap .widget:nth-child(2) {
	margin-top: 0;
}

.slider-product {
	margin-bottom: 15px;
}

.icon-angle-right,
.icon-angle-left {
	font: normal normal normal 14px/1 FontAwesome;
}
.icon-angle-left:before {
	content: "\f104" !important;
}
.icon-angle-right:before {
	content: "\f105" !important;
}

.btn-visit {
	min-width: 200px;
}

.main-button {
    padding: 6px 15px;
    background-color: #1ABC9C;
    color: #FFF;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    border-radius: 4px;
    z-index: 5;
    border: none;
    text-align: center;
    font-size: 24px;
}

.block-content {
	border-top: 1px solid #eee; 
	border-bottom: 1px solid #eee; 
	padding: 15px;
	display: inline-block;
	width: 100%;
	margin-top: 50px;
}

.no-border-bot {
	border-bottom:none; 
}