@import "variables";

.blog-article-box {
	background: $gray-lighter;
	.wrap-box {
		width: 70%;
		display: block;
		margin: 30px auto;
	}

	h2 {
		margin-top: 0;
		span {
			display: inline-block;
			float: right;
			font-size: 14px;
			margin-top: 20px;
			color: $gray;
			font-weight: 300;
			font-family: 'Crete Round', serif;
		}
	}

	.feature-img {
		margin-bottom: 10px;
	}
	.description {
		font-size: 16px;
		line-height: 1.8;
		margin-bottom: 20px;
	}
}
