@import "variables";

.blue {
    color: $blue;
}

body {
	line-height: 1.5;
	color: #555;
	font-family: 'Lato', sans-serif;
}

a {
	text-decoration: none;
	color: $green;
}

a:hover {
    color: $black-lighter;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    color: #444;
    font-weight: 600;
    line-height: 1.5;
    margin: 0 0 30px 0;
    font-family: 'Raleway', sans-serif;
}

img {
	max-width: 100%;
}

.section {
    position: relative;
    margin: 30px 0;
    padding: 30px 0;
    background-color: #F9F9F9;
    overflow: hidden;
}

.more-link {
    display: inline-block;
    border-bottom: 1px solid $green;
    padding: 0 2px;
    font-family: 'Crete Round', serif;
    font-style: italic;
}

.more-link:hover {
    border-bottom-color: $black-lighter;
}

.btn-buy-now {
	background-color: $green;
	color: $white;
	text-transform: uppercase;
	font-weight: 600;
	padding: 15px 30px;
	font-size: 18px;
	font-family: 'Raleway', sans-serif;
	border-radius: 4px;
	span {
		margin-right: 10px;
	}
}

.btn-buy-now:hover {
	background: $gray-lighter;
	color: $green;
	border: 1px solid $green;
}