@import "variables";

/* ==========================================================================
   TienLe's custom styles
   ========================================================================== */

body,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lato', sans-serif;
}

body {
    padding-top: 50px;
}

a:hover {
    text-decoration: none;
}

.container {
    position: relative;
}

.navbar-nav>li>.dropdown-menu {
    margin-top: 20px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.navbar-default .navbar-nav>li>a {
    width: 200px;
    font-weight: bold;
}

.mega-dropdown {
    position: static !important;
}

.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.mega-dropdown-menu:before {
    content: "";
    border-bottom: 15px solid #fff;
    border-right: 17px solid transparent;
    border-left: 17px solid transparent;
    position: absolute;
    top: -15px;
    right: 157px;
    z-index: 10;
}

.mega-dropdown-menu:after {
    content: "";
    border-bottom: 17px solid #ccc;
    border-right: 19px solid transparent;
    border-left: 19px solid transparent;
    position: absolute;
    top: -17px;
    right: 155px;
    z-index: 8;
}

.mega-dropdown-menu > li > ul {
    padding: 0;
    margin: 0;
}

.mega-dropdown-menu > li > ul > li {
    list-style: none;
}

.mega-dropdown-menu > li > ul > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #999;
    white-space: normal;
}

.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
    text-decoration: none;
    color: $text-color;
    background-color: #f5f5f5;
}

.mega-dropdown-menu .dropdown-header {
    color: #1ABC9C;
    font-size: 18px;
    font-weight: bold;
}

.mega-dropdown-menu form {
    margin: 3px 20px;
}

.mega-dropdown-menu .form-group {
    margin-bottom: 3px;
}

.navbar-inverse .navbar-toggle {
    border-color: #1ABC9C;
    .icon-bar {
        background-color: $main-green;
    }
}


/* ----------------------------------------------------------------
  1. Header
-----------------------------------------------------------------*/

.main-nav {
    background-color: #FFF;
    background-image: none;
    border-color: $border-color;
    .navbar-brand:hover,
    .navbar-brand {
        border-right: 1px solid $border-color;
        color: $text-color;
    }
    .nav {
        float: right;
        li {
            a {
                color: $text-color;
                font-weight: bold;
                font-size: 0.813em;
                text-transform: uppercase;
            }
            a:hover {
                color: #1ABC9C
            }
        }
        .mega-dropdown {
            .dropdown-toggle {
                .glyphicon-chevron-down {
                    padding-left: 15px;
                    line-height: 16px;
                }
            }
        }
        .btn-primary {
            background-color: $main-green;
            box-shadow: none;
            text-shadow: none;
            background-image: none;
            border: none;
        }
        .btn-default {
            background-color: $white;
            box-shadow: none;
            text-shadow: none;
            background-image: none;
            border-color: $main-green;
            color: $main-green;
        }
    }
    .navbar-nav>.open>a,
    .navbar-nav>.open>a:focus,
    .navbar-nav>.open>a:hover,
    .navbar-nav>.active>a,
    .navbar-nav>.active>a:focus,
    .navbar-nav>.active>a:hover,
    .navbar-nav>li>a:focus {
        background-image: none;
        color: #1ABC9C;
        background-color: transparent;
        box-shadow: none;
    }
    .navbar-offcanvas {
        background-color: #fff;
        .navbar-form {
            border: none;
            .btn-default {
                text-shadow: none;
                background-image: none;
                border-color: none;
            }
            .btn-default:hover {
                background-color: $white;
                span {
                    color: $main-green;
                }
            }
        }
    }
    .navbar-offcanvas.in {
        background-color: #fff;
        padding: 0px;
        .nav {
            margin: 0;
            width: 100%;
            li {
                a {
                    border-bottom: 1px solid $border-color;
                }
            }
        }
        .navbar-form {
            margin-left: 0;
            margin-right: 0;
            margin-top: 0;
            border: none;
            border-bottom: 1px solid $border-color;
        }
    }
}


/* ----------------------------------------------------------------
  2. Footer
-----------------------------------------------------------------*/

#footer {
    position: relative;
    background-color: #EEE;
    border-top: 5px solid rgba(0, 0, 0, 0.2);
}

.device-lg.sticky-footer #top-bar,
.device-md.sticky-footer #top-bar {
    z-index: 299;
}

.device-lg.sticky-footer #header,
.device-md.sticky-footer #header {
    z-index: 199;
}

.device-lg.sticky-footer #slider,
.device-lg.sticky-footer #page-submenu,
.device-lg.sticky-footer #page-title,
.device-lg.sticky-footer #content,
.device-md.sticky-footer #slider,
.device-md.sticky-footer #page-submenu,
.device-md.sticky-footer #page-title,
.device-md.sticky-footer #content {
    z-index: 2;
}

.device-lg.sticky-footer #footer,
.device-md.sticky-footer #footer {
    position: fixed;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.device-lg.sticky-footer:not(.stretched) #footer,
.device-md.sticky-footer:not(.stretched) #footer {
    left: 50%;
    margin-left: -610px;
    width: 1220px;
}

.device-md.sticky-footer:not(.stretched) #footer {
    margin-left: -500px;
    width: 1000px;
}

#footer .footer-widgets-wrap {
    position: relative;
    padding: 80px 0;
}

.footer-widgets-wrap .col_full,
.footer-widgets-wrap .col_half,
.footer-widgets-wrap .col_one_third,
.footer-widgets-wrap .col_two_third,
.footer-widgets-wrap .col_three_fourth,
.footer-widgets-wrap .col_one_fourth,
.footer-widgets-wrap .col_one_fifth,
.footer-widgets-wrap .col_two_fifth,
.footer-widgets-wrap .col_three_fifth,
.footer-widgets-wrap .col_four_fifth,
.footer-widgets-wrap .col_one_sixth,
.footer-widgets-wrap .col_five_sixth {
    margin-bottom: 0;
}

#copyrights {
    padding: 40px 0;
    background-color: #DDD;
    font-size: 14px;
    line-height: 1.8;
}

#copyrights i.footer-icon {
    position: relative;
    top: 1px;
    font-size: 14px;
    width: 14px;
    text-align: center;
    margin-right: 3px;
}

.copyright-links a {
    display: inline-block;
    margin: 0 3px;
    color: #333;
    border-bottom: 1px dotted $text-color;
}

.copyright-links a:hover {
    color: #555;
    border-bottom: 1px solid #666;
}

.copyrights-menu {
    margin-bottom: 10px;
}

.copyrights-menu a {
    font-size: 14px;
    margin: 0 10px;
    border-bottom: 0 !important;
}

#copyrights .col_half {
    margin-bottom: 0 !important;
}

#copyrights a:first-child {
    margin-left: 0;
}

#copyrights .tright a:last-child {
    margin-right: 0;
}

.footer-logo {
    display: block;
    margin-bottom: 30px;
}

.widget_links,
.widget {
    ul {
        padding: 0;
        list-style: none;
        li {
            margin-bottom: 10px;
            a {
                font-size: 16px;
                color: $text-color;
            }
        }
    }
    a {
        font-size: 16px;
        color: $text-color;
    }
    .entry-meta {
      font-size: 13px;
      color: $gray;
      font-style: italic;
      font-weight: 600;
    }
}