@import "variables";

.related-article-slider {
	.heading-block  {
		background: $gray-lighter;
	}
	.heading-block:after {
	    content: '';
	    display: block;
	    margin-top: 30px;
	    width: 40px;
	    border-top: 2px solid #444;
	    margin: 30px auto 0;
	}

	h2 {
		color: $black-lighter;
		font-size: 26px;
		text-align: center;
		font-weight: 700;
    	text-transform: uppercase;
    	letter-spacing: 1px;
	}

	.owl-nav {
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		pointer-events: none;
		transform: translate(0, -50%);
		-webkit-transform: translate(0, -50%);
	}

	.owl-prev,
	.owl-next {
		width: 36px;
		height: 36px;
		position: absolute;
		text-align: center;
		background: $green;
		color: #fff;
		padding: 7px 2px;
		top: 50%;
		transform: translateY(-50%);
		pointer-events: visible;
		border-radius: 100%;
		box-sizing: border-box;
	}

	.owl-prev:hover,
	.owl-next:hover {
		border: 1px solid rgba(0,0,0,0.2);
		padding: 6px 1px;
	}

	
	.owl-prev {
		left: -15px;
	}

	.owl-next {
		right: -15px;
	}

	.disabled {;
		display: none;
	}

	h3 {
		font-size: 16px;
    	font-weight: 600;
    	margin-bottom: 15px;
	}

	h3 a {
		color: $black-lighter;
	}

	.entry-image {
		margin-bottom: 30px;
	}

	.more-link {
		float: right;
	}

	.entry-type {
		font-family: 'Crete Round', serif;
    	font-style: italic;
    	color: $gray;
    	display: block;
    	width: 100%;
    	float: left;
	}

	.entry-type:hover {
		text-decoration: underline;
	}
}